.content {
  grid-area: content;
  background: var(--white);
  padding: 40px 60px;
}

@media (max-width: 769px) {
  .content {
    padding: 40px 20px;
  }
}
.content-link {
  background: var(--second-color);
  color: white;
  padding: 4px;
}

.wrap-title  {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.wrap-title span {
  background: var(--third-color);
  padding: 10px;
}

.browser-support {
  padding: 40px 0;
}

.button {
  background: var(--second-color);
  padding: 20px;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}
.demo-pen {
  width: 100%;
}
/* .button::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.button::after {
  background: var(--second-color);
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.button:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
} */
