.content {
  grid-area: content;
  background: var(--white);
  padding: 40px 60px;
}

.content-link {
  background: var(--second-color);
  color: white;
  padding: 4px;
}

.sintaxis {
  padding: 40px 0;
}

.values-title {
  background: var(--background);
  padding: 6px;
}

.property-values-list li {
  margin-top: 20px;
}

.example-img {
  padding: 40px 0;
}

.img-property {
  width: 100%;
}

.img-property-small {
  display: none;
}

@media (min-width: 1200px) {
  .img-property {
    width: 85%;
  }
}

@media (max-width: 769px) {
  .img-property-big {
    display: none;
  }
  .img-property-small {
    display: block;
    width: 95%;
  }
}
