.footer {
  background: var(--main-color);
  color: white;
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: .8rem;
}

.footer p {
  margin: 0;
}

.footer a {
  color: white;
  margin-left: 8px;
}

.follow {
  display: flex;
  align-items: center;
}

@media (max-width: 769px) {
  .footer {
    flex-direction: column;
    padding: 10px 10px 20px;
  }

  .follow {
    margin-bottom: 10px;
  }

  small {
    margin-top: 16px;
  }
}
/* heart animation*/
.heart {
  animation: beat 1.5s ease-in-out infinite;
  display: inline-block;
  margin-left: 5px;
  position: relative;
}

.heart:before, .heart:after {
  background: #e48989;
  border-radius: 50px 50px 0 0;
  content: "";
  height: 10px;
  position: absolute;
  transform-origin: 0 100%;
  transform: rotate(-45deg);
  width: 6px;
}

.heart:before {
  left: 6px;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
