.sintaxis {
  padding: 40px 0;
}

.sintaxis-wrap {
  display: flex;
}

.sintaxis-wrap p, span {
  padding: 10px;
}
.sintaxis-wrap p {
  background: var(--third-color);
  margin-bottom: 0;
}

.sintaxis-wrap span {
  background: var(--background);
}
