:root {
  --main-color: #232333;
  --second-color: #498CF3;
  --background: #E9F0F7;
  --third-color: #F4CC63;
  --text-color: #1B1B1D;
  --input: #3c3c49;
  --white: #fff;
}

.body {
  font-family: 'PT Sans', sans-serif;
  line-height: 1.5rem;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
  margin-top: 0;
}

h1 {
  font-size: 2.6rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

p {
  margin: 0 0 10px 0;
}

.container {
  background: var(--background);
  padding: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas:
    "sidebar header header"
    "sidebar content content"
    "sidebar footer footer";
  grid-template-rows: 90px auto 40px;
}


a {
  display: inline-block;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.icon svg {
  width: 30px;
  height: 30px;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 225px 2fr 2fr;
  }

  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 769px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
    "sidebar sidebar sidebar"
    "header header header"
    "content content content"
    "footer footer footer";
    grid-template-rows: auto;
    grid-gap: 6px;
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.3rem;
  }

}
