:root {
  --main-color: #1B1B1D;
  --second-color: #498CF3;
  --background: #E9F0F7;
  --third-color: #F4CC63;
}

.body {
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
}
