.searcher {
  padding: 6px;
}

input {
  width: 100%;
  border: 0;
  outline: none;
}

.searcher-input {
  height: 80px;
  background: var(--input);
  color: var(--white);
  font-size: 1rem;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
