.sidebar {
  background: var(--main-color);
  grid-area: sidebar;
  color: var(--white);
  height: 100%;
  transition: all .6s ease;
}

@media (max-width: 769px) {
  .sidebar {
    transform: translatex(-106%);
    width: 100%;
    position: absolute;
    overflow-y: scroll;
    padding-bottom: 60px;
  }

  .sidebar-active .sidebar {
    transform: translatex(0);
    z-index: 999;
  }
}
